<p style="color: green"><%= notice %></p>

<div class="px-4 mx-auto max-w-4xl lg:py-8">
  <h2 class="mb-4 text-xl font-semibold leading-none text-gray-900 md:text-2xl sm:mb-5">Items</h2>

  <div id="items" class="flex flex-col-reverse divide-y divide-y-reverse">
    <% @items.each do |item| %>
      <%= render item %>
    <% end %>
  </div>

  <%= link_to "New item", new_item_path %>
</div>
